/* CUSTOM CSS */
.highlighttable td,th{padding:0;border:0;}td.code{width:95%;}

.post-comments {
  margin-top: 60px;
}

.post-comment {
  background-color: #eee;
  padding: 20px;
  margin-top: 20px;
}

.post-comment-header {
  margin-bottom: 20px;
}

.post-comment-avatar {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  max-width: 50px;
}

.post-comment-info {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
}

.post-comment-field {
  display: block;
  font: inherit;
  padding: 10px;
  margin-top: 20px;
  outline-color: #5694f1;
  width: 100%;
}

.btn {
  border: 2px solid #5694f1;
  background-color: #5694f1;
  color: white;
  display: inline-block;
  font: inherit;
  padding: 20px;
  min-width: 100px;
  -webkit-appearance: none;
}

.btn:hover {
  border: 2px solid #5694f1 !important;
  background-color: white;
  color: #5694f1;
  text-decoration: none;
}

.dialog {
  display: none;
  position: fixed;
  background-color: rgba(238, 238, 238, 1);
  padding: 25px;
  padding-top: 20%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.dialog:target {
  display: block;
}