@import "light.css" screen;
@import "dark.css" screen and (prefers-color-scheme: dark);
/* xnacly's custom vars */
:root {
	--spacing: 0.5rem;
	--code: #d04c60;
	--expert: #ddb6f2;
	--advanced: #abe9b3;
	--intermediate: #f8bd96;
	--beginner: #f28fad;
	--expert-darker: #a283b3;
	--advanced-darker: #7da882;
	--intermediate-darker: #a57d63;
	--beginner-darker: #a56175;
}

/* this should fix the ios mobile code blog font size bug
 * recorded here: https://github.com/adityatelange/hugo-PaperMod/issues/828 */
code {
	text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

.social-container {
    display: flex;
}

.symbol {
    display: flex;
    align-items: center;
    justify-content: center;
}

.symbol svg {
    max-width: 30px;
    max-height: 30px;
    width: 100%;
    fill: var(--primary)
}

body {
	line-height: 1;
	font: normal 15px/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: var(--background-sec);
	color: var(--text);
	line-height: 1.75;
	letter-spacing: 0.008em;
}

a {
	text-decoration: none;
	color: var(--primary);
}

a:hover {
	color: var(--primary-hover);
}

/* markdown content styles */
blockquote {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: calc(var(--spacing) / 2);
	padding-left: 1em;
	padding-right: 1em;
	margin-left: 0px;
	border-top-right-radius: var(--spacing);
	border-bottom-right-radius: var(--spacing);
	border-left: 2px solid var(--primary);
	background-color: var(--background-third);
}

hr {
	display: block;
	border: none;
	height: 2px;
	margin: 40px auto;
	background: var(--background-third);
}

table {
	width: 100%;
	margin: 40px 0;
	border-collapse: collapse;
	line-height: 1.5em;
}

th,
td {
	text-align: left;
	padding-right: 20px;
	vertical-align: top;
}

table td,
td {
	border-spacing: none;
	border-style: solid;
	padding: 10px 15px;
	border-width: 1px 0 0 0;
}
thead th,
th {
	text-align: left;
	padding: 10px 15px;
	height: 20px;
	font-size: 13px;
	font-weight: bold;
	color: var(--text);
	cursor: default;
	white-space: nowrap;
	border: 1px solid var(--text);
}

tr > td {
	border: 1px solid var(--text);
}

tr:nth-child(odd) > td {
	background: var(--background);
}

h1,
h2,
h3 {
	font-weight: 400;
}
p {
	margin-block-start: 1.5em;
	margin-block-end: 1.5em;
}
p,
pre {
	word-break: normal;
	overflow-wrap: anywhere;
}
.markdown-image img {
	max-width: 100%;
	border-radius: 0.5rem;
}
.anchor {
	font-size: 100%;
	visibility: hidden;
	color: silver;
}
h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a {
	visibility: visible;
}
.highlight pre {
	padding: 7px;
	overflow-x: auto;
}

.highlight {
	max-width: 100%;
	overflow-x: auto;
}
p code,
li code {
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
	background-color: var(--background-forth);
	font-size: inherit;
	padding: 2px 5px;
	border: 1px solid var(--text-third);
	border-radius: calc(var(--spacing) / 2);
	color: var(--code);
	line-height: inherit;
	word-wrap: break-word;
	text-indent: 0;
}
pre code {
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
}
pre {
	border-radius: 0.5rem;
}

/* navigation */

nav.navigation {
	padding: 20px 20px 0;
	background: var(--background-sec);
	margin: 0 auto;
	text-align: right;
	z-index: 100;
}

nav.navigation a {
	top: 8px;
	right: 6px;
	padding: 8px 12px;
	color: var(--primary);
	font-size: 13px;
	line-height: 1.35;
	border-radius: 3px;
}
nav.navigation a:hover {
	color: var(--primary-hover);
}

nav.navigation a.button {
	background: var(--primary);
	color: var(--text);
	margin-left: 12px;
}
@media (max-width: 700px) {
	nav.navigation {
		padding: 20px 10px 0 0;
	}
	nav.navigation a {
		padding: 8px 8px;
	}
}

@media (max-width: 324px) {
	nav.navigation a.button {
		display: none;
	}
}

/* toc */
.toc {
	margin: auto;
	background: var(--background-third);
	border-radius: 0;
	border-radius: var(--spacing);
	padding: 10px 7px;
	margin-top: 36px;
}
.toc details summary {
	cursor: pointer;
	margin-inline-start: 14px;
	font-weight: 500;
}
.toc details[open] summary {
	cursor: pointer;
}
.toc #TableOfContents {
	margin-left: 10px;
}
.toc ul {
	padding-inline-start: 24px;
}

/* comment */
#comment {
	margin-top: 64px;
}

/* footer */
#footer {
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
	color: var(--text-secondary);
	font-size: 14px;
}
#footer .copyright {
	margin: 20px auto;
	font-size: 15px;
}
.powerby {
	margin: 20px auto;
	font-size: 13px;
}
#footer .split {
    color: var(--primary);
	cursor: pointer;
}
#footer .split:hover {
	color: #ff3356;
	transition: 0.7s ease-out;
	cursor: pointer;
}

#social a {
	margin: 0 4px;
}

/* main content */
.main {
	width: 100%;
	margin: 0 auto;
}

/* profile  */

.profile {
	text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile .avatar {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.profile h1 {
	font-weight: 400;
	letter-spacing: 0px;
	font-size: 20px;
	color: var(--text);
	margin-bottom: 0;
	margin-top: 0;
}

.profile h2 {
	font-size: 20px;
	font-weight: 300;
	color: var(--text-secondary);
	margin-top: 0;
}

/* index post list */
#list-page {
	max-width: 580px;
	margin: 0 auto;
	padding: 0 24px;
}

#list-page .item {
	margin: 12px 0;
}

#list-page .title {
	display: inline-block;
	color: var(--text);
	font-size: 18px;
	font-weight: 400;
	margin: 0;
	width: 80%;
}

#list-page .title a {
	color: var(--text);
	display: block;
}

#list-page .title a:hover {
	color: var(--primary-hover);
}

#list-page .date {
	width: 20%;
	float: right;
	text-align: right;
	position: relative;
	top: 1px;
	color: var(--text-third);
}

#list-page .summary {
	color: #757575;
	margin-top: 12px;
	word-break: normal;
	overflow-wrap: anywhere;
	margin-bottom: 36px;
}

#list-page .cover {
	width: 100px;
	height: 100px;
	background: #fff;
}

#list-page .cover img {
	width: 100%;
	text-align: center;
}

#list-page .pagination {
	margin: 48px 0;
	width: 100%;
	height: 32px;
	margin-top: 48px;
}

#list-page .pagination .pre {
	float: left;
}
#list-page .pagination .next {
	float: right;
}

/* single page */
#single {
	max-width: 680px;
	margin: 60px auto 0 auto;
	padding: 0 64px;
}

#single .title {
	text-align: center;
	font-size: 32px;
	font-weight: 400;
	line-height: 48px;
}

@media (max-width: 700px) {
	#single {
		padding: 0 18px;
		margin: 20px auto 0 auto;
	}
	#single .title {
		font-size: 24px;
		line-height: 32px;
	}
}

#single .tip {
	text-align: center;
	color: #8c8c8c;
	margin-top: 18px;
	font-size: 14px;
}
#single .tip .split {
	margin: 0 4px;
}

#single .content {
	margin-top: 36px;
}

#single .tags {
	margin-top: 24px;
}
#single .tags a {
	background: var(--background-third);
	border-radius: calc(var(--spacing) / 2);
	padding: 4px 7px;
	color: var(--text-secondary);
	font-size: 14px;
	margin-right: 3px;
}
#single .tags a:hover {
	color: var(--primary);
}

#archive {
	max-width: 580px;
	margin: 0 auto;
	padding: 0 24px;
}

#archive .total {
	font-size: 15px;
}

#archive .group {
	margin: 24px auto;
}
#archive .group .key {
	font-size: 20px;
	margin-bottom: 12px;
}
#archive .group .value {
	display: block;
	font-size: 16px;
	margin-bottom: 12px;
}
#archive .group .value .date {
	display: inline-block;
	color: var(--text-third);
	min-width: 60px;
}
#archive .group .value .title {
	display: inline;
}
#archive .group .value .title a {
	color: var(--text);
}
#archive .group .value .title a:hover {
	color: var(--primary-hover);
}
#archive .group .value .tags {
	display: inline;
	margin-left: 7px;
}
#archive .group .value .tags a {
	background: var(--background-third);
	border-radius: calc(var(--spacing) / 2);
	padding: 4px 7px;
	color: #999;
	font-size: 14px;
	margin-right: 3px;
}
#archive .group .value .tags a:hover {
	color: var(--primary);
}

/* taxonomy */
#tags {
	max-width: 700px;
	margin: 48px auto 0 auto;
	padding: 0 12px;
	text-align: center;
}
#tags .tag {
	display: inline-block;
	margin: 7px 7px;
}
@media (max-width: 700px) {
	#tags {
		margin: 0 auto 0 auto;
	}
	#tags .tag {
		display: inline-block;
		margin: 4px 5px;
	}
}

#tags .tag a {
	background: var(--background-third);
	padding: 4px 7px;
	color: var(--text);
	font-size: 14px;
	border-radius: calc(var(--spacing) / 2);
	margin-right: 3px;
}
#tags .tag a:hover {
	color: var(--primary);
}

/* section page */
#section {
	max-width: 580px;
	margin: 0 auto 0 auto;
	padding: 0 12px;
}

/* 404 page */
#page-404 {
	max-width: 580px;
	margin: 0 auto;
	padding: 0 24px;
}
#page-404 .item {
	margin: 12px 0 0 0;
}

#page-404 .title {
	display: inline-block;
	color: var(--text);
	font-size: 15px;
	font-weight: 400;
	margin: 0;
	width: 80%;
}

#page-404 .text {
	text-align: center;
	margin-top: 60px;
}

#page-404 .read-more {
	font-weight: 300;
	font-size: 20px;
	margin-top: 48px;
	margin-bottom: 12px;
}

#page-404 .date {
	width: 20%;
	float: right;
	text-align: right;
	position: relative;
	top: 1px;
	color: #bbb;
}

/* xnacly's overrides */
body,
html,
.tags,
.tip {
	font-family: monospace;
}
.item .title {
	font-family: monospace;
	font-size: 1.1rem !important;
}
.profile h1,
#listpage .title,
#section,
#single {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.tags a::before {
	content: "#";
}
.post-summary {
	margin-top: 2rem;
}
.item div {
	display: flex;
	justify-content: center;
}
.item time {
	font-size: small;
}

.navigation {
	display: flex;
	align-items: center;
	justify-content: center;
}

.skill-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: var(--spacing);
}

.skill {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.skill img {
	max-width: 5rem;
	margin: var(--spacing);
}

[data-tooltip]::before {
	position: absolute;
	content: attr(data-tooltip);
	color: var(--text);
	display: none;
    background-color: var(--background-third);
    padding: calc(var(--spacing) / 2);
    border-radius: var(--spacing);
}
[data-tooltip]:hover::before{
	display: inline;
}
.level-box {
	text-transform: capitalize;
	border-radius: var(--spacing);
	padding: var(--spacing);
	text-align: center;
	color: var(--background-sec);
}
.level-advanced {
	background-color: var(--advanced);
	box-shadow: inset 0 -4px 0 var(--advanced-darker);
}
.level-beginner {
	background-color: var(--beginner);
	box-shadow: inset 0 -4px 0 var(--beginner-darker);
}
.level-intermediate {
	background-color: var(--intermediate);
	box-shadow: inset 0 -4px 0 var(--intermediate-darker);
}
.level-expert {
	background-color: var(--expert);
	box-shadow: inset 0 -4px 0 var(--expert-darker);
}

#list-page .blog-draft a {
	color: var(--text-secondary);
}

#list-page .blog-draft a::before {
	content: "[d]";
	margin-right: var(--spacing);
}

.badge-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.badge-container a {
    margin: calc(var(--spacing) / 2);
}
