body,
html,
.tags,
.tip {
	font-family: monospace;
}
.item .title {
	font-family: monospace;
	font-size: 1.1rem !important;
}
.profile h1,
#listpage .title,
#single {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
.tags a::before {
	content: "#";
}
.post-summary {
	margin-top: 2rem;
}
.item div  {
	display: flex;
	justify-content: center;
}
.item time {
	font-size: small;
}

.navigation {
	display: flex;
	align-items: center;
	justify-content: center;
}
	
