    {{ partial "head.html" . }}
    <body>
       {{ partial "nav.html" . }}
       {{ partial "profile.html" . }}

        <section id="wrapper" class="tags">
            <div class="page-tags" id="tags">
                {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                 <span class="tags">
                     <a href="/tags/{{ $name | urlize }}" rel="{{ len $taxonomy }}">{{ $name }}({{ len $taxonomy }})</a>
                 </span>
                {{ end }}
            </div>

            {{ partial "footer.html" . }}
        </section>

        {{ partial "js.html" . }}
        {{ partial "tagcloud.html" . }}
    </body>
</html>
