<form class="post-new-comment" method="POST" action={{ .Site.Params.staticman_api }}>
  <input type="hidden" name="options[redirect]" value="{{ .Permalink }}#post-submitted">
  <input name="fields[title]" type="text" class="post-comment-field" placeholder="Title">
  <textarea name="fields[body]" class="post-comment-field" placeholder="The content. Feel free to use Markdown." rows="10"></textarea>
  <input type="submit" class="post-comment-field btn" value="Submit">
</form>

<div id="post-submitted" class="dialog">
<h3>Thank you</h3>
  <p>Your post has been submitted and will be published once it has been approved.</p>
  <p><a href="{{ .Site.Params.githubPullURL }}">Click here</a> to see the pull request you generated.</p>
  
  <p><a href="#" class="btn">OK</a></p>
</div>