<nav class="navigation">
	{{ if not .IsHome }}
		<a href='/'> <span class="arrow">←</span>{{ with .Site.Params.home }}{{ . }}{{ else }}Home{{ end }}</a>
	{{ end }}
	<a href='/posts'>{{ with .Site.Params.archive }}{{ . }}{{ else }}Archive{{ end }}</a>
	<a href='/tags'>{{ with .Site.Params.tags }}{{ . }}{{ else }}Tags{{ end }}</a>
	<a href='/about'>{{ with .Site.Params.about }}{{ . }}{{ else }}About{{ end }}</a>

	{{ range $element := .Site.Params.Links }}
		<a href="{{ $element.path }}">{{ $element.name }}</a>
	{{ end }}

	{{ if .Site.Params.enableRSS }}
	<a class="button" href="{{ .Site.RSSLink }}">{{ with .Site.Params.subscribe }}{{ . }}{{ else }}Subscribe{{ end }}</a>
	{{ end }}
</nav>
