<a class="twitter" href="https://twitter.com/intent/tweet?text={{ .Permalink }} - {{ .Title }} {{ with .Site.Params.twitter }}by @{{ . }}{{ end }}"><span class="icon-twitter"> {{ with .Site.Params.tweet }}{{ . }}{{ else }}Tweet{{ end }}</span></a>

<a class="facebook" href="#" onclick="
    window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
      'facebook-share-dialog',
      'width=626,height=436');
    return false;"><span class="icon-facebook-rect"> {{ with .Site.Params.share }}{{ . }}{{ else }}Share{{ end }}</span>
</a>
