{{ define "main" }}

<div id="page-404">
  <div class="text">
    <h1>
      404 - Page Not Found
    </h1>
    <div>
      The content you're looking for doesn't seem to exist.
    </div>
  </div>

  <h2 class="read-more">Read More</h2>  
    {{ $pages := .Site.RegularPages }}
    {{ $paginator := .Paginate ($pages) }}
    {{ range $paginator.Pages }}
        {{ $title := .Title }}
        {{ $date := dateFormat "Jan 2, 2006" .Date }}
        <section class="item">
          <div>
            <h1 class="title"><a href='{{ .RelPermalink }}'>{{ $title }}</a></h1>   
            <div class="date">{{ $date }}</div>
          </div>
        </section>
    {{ end }}
</div>
{{ end }}
