{{ define "main" }}
{{ partial "profile.html" . }}

<div id="list-page">
    {{ $pages := where .Site.RegularPages "Params.hidden" "ne" "true" }}
    {{ $paginator := .Paginate ($pages) }}
    {{ range $paginator.Pages }}
        {{ $title := .Title }}
        {{ $summary := .Summary }}
        <section class="item">
          <div>
            <h1 class="title"><a href='{{ .RelPermalink }}'>{{ $title }}</a></h1>   
            <div class="date">{{ .Date.Format "Jan 2" }}</div>
          </div>

          <div class="summary">{{ $summary | plainify | htmlUnescape }}</div>



          {{ with .Resources.ByType "image" }}
            {{ $image := index . 1 }}  
            {{ range .  }}
              {{ if eq .Name "images/cover.png" }} 
                {{ $image = . }}
              {{ else if eq .Name "images/cover.jpg" }}
                {{ $image = . }}
              {{ else if eq .Name "images/cover.jpeg" }}
                {{ $image = . }}
              {{ end }}
            {{ end }}

            <div class="cover">
              <img src="{{ $image.RelPermalink }}" alt="{{ $title }}">
            </div>
          {{ end }}

        </section>
    {{ end }}

</div>
{{ end }}
